.login{
    margin-top: 150px;
}
.login-box{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
}

.login-box input{
    padding: 10px 10px;
    margin: 5px;
    width: 350px;
}